@page "/"

<PageTitle>Главная страница</PageTitle>

<h1>Добро пожаловать на сайт по парсингу и сбору цен</h1>
<p>На нашем сайте вы можете удобно отслеживать цены на интересующие вас товары</p>
<NavLink href="add-item">Перейти к добавлению товаров</NavLink>